@import url("https://cdnjs.cloudflare.com/ajax/libs/antd/4.10.0/antd.css");

* {
  font-family: Avenir;
}

#root {
  position: absolute;
  top: 0;
  min-height: 100vh;
  left: 0px;
  min-width: 100vw;
}
